{% block javascripts %}
    <script src="//maps.google.com/maps/api/js?sensor=false&libraries=drawing"></script>
    {% javascripts output="assets/js/geo_js.js" "@geo_js" %}
    <script src="{{ asset(asset(asset_url)) }}" xmlns="http://www.w3.org/1999/html"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets output="assets/css/geo_css.css" "@geo_css" %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

<div ng-app="GeoObjectsBundle">
    <div ng-controller="GeoObjectsEdit" ng-init="loadObject('{{ type }}', '{{ reference }}')">
        <div class="row-fluid map">
            <div class="alert alert-error" ng-show="error">
                <button type="button" class="close" ng-click="closeError()">&times;</button>
                <h4>Error</h4>{[error]}
            </div>
            <map map-options="{disableDoubleClickZoom:true, scrollwheel:true, draggable: true, width:{{ parameters['width'] }}, height:{{ parameters['height'] }}, zoom:{{ parameters['zoom'] }} }"></map>
        </div>
    </div>
</div>