{% if path|length > 0 %}
    <ul class="breadcrumb">
    {% for item in path %}
        <li>{{ item.title }} <span class="divider">/</span></li>
    {% endfor %}
    {% if current is iterable %}
        <li>{{ current.name }}</li>
    {% endif %}
    </ul>
{% else %}
    <div>{{ 'twig.coords_not set'|trans({}, 'GeoObjectsTranslations') }}</div>
{% endif %}