<div class="row-fluid map">
    <div class="alert alert-error" ng-show="error">
        <button type="button" class="close" ng-click="closeError()">&times;</button>
        <h4>Error</h4>{[error]}
    </div>
    <div class="well well-small text-right">
        <a href="" ng-click="save()" class="btn btn-small btn-success">Save</a>
        <a href="" ng-click="cancel()" class="btn btn-small btn-primary">Cancel</a>
    </div>
    <map map-options="{disableDoubleClickZoom:true, scrollwheel:true, draggable: true}" drawing-options="{drawing:true, modes:['POLYLINE']}"></map>
</div>
