<div class="row-fluid">
    <div class="well well-small">
        <div class="text-right">
            <select name="filter[type]" ng-model="$root.filter.type">
                <option value=""></option>
                <option ng-repeat="type in types" ng-click="setFilter('type', type)" value="{[type]}">{[type]}</option>
            </select>
        </div>
    </div>
    <div class="row-fluid">
        <paginator></paginator>
    </div>
    <table class="table table-bordered" collapse="0" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <th class="span2">ID</th>
            <th>{[ trans('geoObjects.reference', 'GeoObjectsTranslations') ]}</th>
            <th>{[ trans('geoObjects.geo_object_type', 'GeoObjectsTranslations') ]}</th>
            <th>{[ trans('geoObjects.geotype', 'GeoObjectsTranslations') ]}</th>
            <th></th>
        </tr>
        </thead>
        <tbody ng-repeat="object in content" ng-mouseenter="hover = 'success'" ng-mouseleave="hover = ''">
        <tr class="{[hover]}">
            <td>
                {[ object.id ]}
            </td>
            <td>{[ object.reference ]}</td>
            <td>{[ object.type ]}</td>
            <td>{[ object.geometry.geometry_type ]}</td>
            <td>
                <a href="#/list" class="btn btn-danger btn-mini" ng-click="remove(object.id)"><i class="icon-remove"></i> {[ trans('geoObjects.delete', 'GeoObjectsTranslations') ]}</a>
                <a href="#/edit/{[object.type]}/{[object.reference]}" class="btn btn-primary btn-mini"><i class="icon-edit"></i> {[ trans('geoObjects.edit', 'GeoObjectsTranslations') ]}</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>