{% extends "::base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="//maps.google.com/maps/api/js?sensor=false&libraries=drawing"></script>
    {% javascripts output="assets/js/geo_js.js" "@geo_js" %}
    <script src="{{ asset(asset_url) }}" xmlns="http://www.w3.org/1999/html"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets output="assets/css/geo_css.css" "@geo_css" %}
        <link rel="stylesheet" href="{{ asset(asset_url) }}">
    {% endstylesheets %}
{% endblock %}
{% block container_class %}container-fluid{% endblock %}


{% block body %}
    <div class="container-fluid">
        <div ng-app="GeoObjectsBundle">
            <div ng-controller="GeoObjectsEdit" ng-init="loadObject('{{ type }}', '{{ reference }}');isBlank = true">
                <div class="well well-small text-right">
                    <a href="" ng-click="save()" class="btn btn-small btn-success">Save</a>
                    <a href="" ng-click="cancel()" class="btn btn-small btn-primary">Cancel</a>
                </div>
                <div class="row-fluid map">
                    <div class="alert alert-error" ng-show="error">
                        <button type="button" class="close" ng-click="closeError()">&times;</button>
                        <h4>Error</h4>{[error]}
                    </div>
                    <map map-options="{disableDoubleClickZoom:true, scrollwheel:true, draggable: true}" drawing-options="{drawing:true, modes:['POLYLINE']}"></map>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
