{% extends "::base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="//maps.google.com/maps/api/js?sensor=false&libraries=drawing"></script>
    {% javascripts output="assets/js/geo_js.js" "@geo_js" %}
    <script src="{{ asset(asset_url) }}" xmlns="http://www.w3.org/1999/html"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets output="assets/css/geo_css.css" "@geo_css" %}
        <link rel="stylesheet" href="{{ asset(asset_url) }}">
    {% endstylesheets %}
{% endblock %}
{% block container_class %}container-fluid{% endblock %}


{% block content %}
    <h1>{{ 'geoObjects.geo_list'|trans({}, 'GeoObjectsTranslations') }}</h1>

    <div ng-app="GeoObjectsBundle">
        <div ng-view></div>
    </div>
{% endblock %}
